services:
  - type: web
    name: quintin-trust-bank-backend
    env: node
    region: oregon
    plan: free
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: PORT
        value: 3001
      - key: NODE_ENV
        value: production
      - key: SENDGRID_API_KEY
        sync: false
      - key: FROM_EMAIL
        value: omembeledepaschal@gmail.com
